/* Ensure that the HTML and body elements take up the full height and width */
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

/* General Styles */
body {
  font-family: "Segoe UI", Arial, sans-serif;
  background-color: #f4f4f4;
  color: #424242;
}

/* Main content styles */
#main-content {
  padding-bottom: 60px; /* Adjust this value to the height of your footer */
}

/* Footer Styles */
footer {
  background-color: #7f9c64b2; /* Semi-transparent green background color */
  color: white; /* Text color */
  text-align: center;
  padding: 0px 0px; /* Reduced padding to make the footer thinner */
  bottom: 0; /* Stick to bottom */
  width: 100%;
  position: fixed; /* Fix position to the bottom */
}


/* Header and Navigation Styles */
header {
  width: 100%; /* Full width */
  background-color: rgb(106, 112, 90); /* Blue background for the entire header */
}

#main-nav {
  max-width: 960px; /* Max width */
  margin: 0 auto; /* Centering the nav */
  box-sizing: border-box; /* Include padding in width calculation */
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex; /* Use flexbox for horizontal alignment */
  justify-content: center; /* Center the items */
  align-items: center; /* Center items vertically */
}

nav ul li {
  padding: 10px 15px; /* Adjust as needed */
}

nav a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

/* Calendar container styles */
#calendar {
  max-width: 1000px; /* Maximum width */
  width: 90%; /* Responsive width */
  margin: 40px auto; /* Center the calendar with automatic margins */
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

/* Time slot selection highlight */
.fc-timegrid-slot.selected-slot {
  background-color: #ffff99;
}

.fc-direction-ltr {
    direction: ltr;
    text-align: left;
    position: sticky;
}

/* modal-price-list */
#priceListModal {
  position: fixed; 
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
  z-index: 1000; /* High z-index */
  align-items: center; 
  justify-content: center; 
  display: flex; 
}

.modal-content-pricelist {
    background: #fff;
    border-radius: 5px;
    padding: 20px; /* Adjusted padding */
    box-shadow: 0 4px 8px #0000001a;
    max-width: 600px; 
    width: 80%;  
    position: relative;
}

#modal-price-list {
  background: #f8f8f8; /* Light grey background similar to the image */
  border: none; /* No border needed */
  text-align: left; /* Align text to the left */
  font-family: 'Arial', sans-serif; /* Font similar to the image */
  max-width: 600px; /* Max width of the price list */
  margin: auto; /* Center in the available space */
}

#modal-price-list h2 {
  color: #204056; /* Navy color for the title */
  font-size: 36px; /* Larger font size for the title */
  font-weight: bold; /* Bold font weight */
  text-align: center; /* Center the title */
  margin-bottom: 30px; /* Space below the title */
}

#modal-price-list .service {
  border-bottom: 1px dotted #ccc; /* Dotted line for each service */
  padding: 15px 0; /* Padding around service items */
  display: flex; /* Flex layout to align service name and price */
  justify-content: space-between; /* Space between name and price */
  font-size: 20px; /* Larger font size for service items */
  line-height: 1.5; /* Space between lines */
}

#modal-price-list .service:last-child {
  border-bottom: none; /* No border for the last item */
}

#modal-price-list .service h3 {
  margin: 0; /* Remove default margin */
  color: #000; /* Black text color for service name */
  font-weight: normal; /* Normal font weight */
}

#modal-price-list .service p {
  margin: 0; /* Remove default margin */
  color: #009688; /* Teal color for the price */
  font-weight: bold; /* Bold font weight */
}

.close-button-pricelist {
    cursor: pointer;
    color: #090404;
    border: none;
    font-size: 2em;
    position: absolute;
    top: -11px;
    right: 1px;
}

.close-button-pricelist:hover {
  color: #333;
}

/* Add styles for price list similar to the image uploaded by the user */


/* Admin Button Styles */
button {
    color: #fff;
    cursor: pointer;
    background-color: #9aa874;
    border: none;
    border-radius: 4px;
    margin-top: 10px;
    padding: 10px 15px;
    font-size: 15px;
    letter-spacing: 0.5px;
}

button:hover {
  background-color: #4cae4c; /* Darker green on hover */
}

/* Form Styles */
select {
  padding: 12px;
  margin: 8px 0;
  border: 1px solid #bdbdbd; /* Lighter border for input fields */
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 16px;
}

input[type="text"],
input[type="email"],
input[type="tel"] {
  width: 100%;
  padding: 12px;
  margin: 8px 0;
  border: 1px solid #bdbdbd; /* Lighter border for input fields */
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 16px;
}

/* Time Slot Styles for Unavailability */
.unavailable {
  background-color: #e0e0e0;
  color: #757575;
  cursor: not-allowed;
  font-style: italic;
}


/* Tooltip Style */
#tooltip {
  position: absolute;
  background-color: #333;
  color: #fff;
  padding: 5px;
  border-radius: 5px;
  pointer-events: none;
  white-space: nowrap;
  z-index: 999;
  display: none;
}
/* Base styles for the modal */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 2; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgba(0, 0, 0, 0.6); /* Black w/ opacity */
}

/* Show the modal when 'hidden' class is removed */
.modal:not(.hidden) {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Modal content box */
.modal-content {
  background: #ffffff;
  border-radius: 8px;
  padding: 20px;
  width: 50%; /* Set a max-width for larger screens */
  max-width: 500px; /* You can adjust this value */
  position: relative;
}

div#selected-datetime {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

/* Close button style */
.close-modal {
  cursor: pointer;
  color: #aaa;
  background: #3c0303;
  border: none;
  font-size: 1.5em;
  position: absolute;
  top: -5px;
  right: 7px;
}

.close-modal:hover {
  color: #333;
}

/* Form styles */
#booking-form {
  display: flex;
  flex-direction: column;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
}

.service-options {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  align-items: center; /* Align items vertically */
}

.service-bubble {
  background: #f2f2f2;
  border-radius: 20px;
  padding: 5px 15px; /* Reduced padding */
  cursor: pointer;
  user-select: none;
  transition: background-color 0.3s, color 0.3s;
  display: inline-block; /* Make the bubble only as wide as its content */
  margin: 5px 0; /* Add some margin top and bottom for spacing */
  max-width: calc(100% - 10px); /* Prevent it from being too wide */
  white-space: nowrap; /* Prevent the text from wrapping */
  min-width: 80px; /* Adjust as needed */
  text-align: center;
}

.service-bubble.selected {
  background-color: #007bff;
  color: white;
}

/* Date and Time display */
#selected-datetime p {
  font-size: 16px;
  color: #333;
  line-height: 1.5;
  text-align: center;
}

/* Hide the actual radio button and checkbox inputs */
.service-button input[type="radio"],
.service-button input[type="checkbox"] {
  display: none;
}

/* Highlight the selected service button */
.service-button input[type="radio"]:checked + label,
.service-button input[type="checkbox"]:checked + label {
  background-color: #007bff; /* Blue background for selected service */
  color: white;
}


/* Add to your main CSS file */
.hero-image img {
  width: 100%;
  height: auto;
  display: block;
}

.welcome {
  position: relative;
  text-align: center;
  padding: 20px;
  background: rgba(255, 255, 255, 0.8); /* Semi-transparent background */
  margin-top: -100px; /* Adjust as necessary */
  max-width: 600px;
  left: 50%;
  transform: translateX(-50%);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Animation */
@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

.animated.fadeIn {
  animation: fadeIn 2s ease forwards;
}




@media screen and (max-width: 768px) {
    .booking-list-item {
        flex-basis: 48%; /* Adjust to display 2 items per row on smaller screens */
    }
}

@media screen and (max-width: 480px) {
    .booking-list-item {
        flex-basis: 100%; /* Single column layout on very small screens */
    }
}

/* Responsive adjustments */
@media (max-width: 600px) {
  .booking-list {
    grid-template-columns: 1fr; /* Full width on smaller screens */
  }
}


/* Responsive adjustments */
@media (max-width: 768px) {
  .modal-content {
    width: 80%;
  }
}

@media (max-width: 480px) {
  .modal-content {
    width: 95%;
  }
}

@media (max-width: 768px) {
  #calendar {
    width: 95%; /* Take up more width on small screens */
    margin-top: 20px; /* Less margin on the top */
    margin-bottom: 80px; /* More margin at the bottom to prevent overlap */
  }
}

/* the footer for small screens */
@media (max-width: 768px) {
  footer {
    position: static; /* Or use 'relative' instead of 'fixed' */
    width: 100%;
  }
}

